@import 'variables';
$border-colour: #ddd;
$border-radius: 4px;
$header-height: 270px;


::ng-deep {
  .mat-tooltip {
    white-space: pre-line;
  }
}

.name {
  background: #fff;
  margin: 0px;
  padding: 8px 16px;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  border: 1px solid $border-colour;
  text-transform: capitalize;
}

.data-list {
  background-color: #fff;
  height: calc(100vh - #{$header-height});
  overflow: auto;
  border: 1px solid $border-colour;
  border-top: 0px;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  cdk-virtual-scroll-viewport {
    height: 100%;
  }

  &__item {
    height: 72px;

    &.mat-list-item-disabled {
      background-color: #fff;
    }

    &--warn {
      color: $warn-colour;
    }

    &--expired {
      color: $negative-colour;
    }
  }
}
