
<h3 class="name">{{ name }} <small>({{ addedCount }} added)</small></h3>
<mat-selection-list class="data-list">
  <cdk-virtual-scroll-viewport itemSize="48">
    <mat-list-option
      class="data-list__item"
      *cdkVirtualFor="let item of items"
      [selected]="hasAddedDate(item)"
      [class.data-list__item--warn]="!isExpired(item) && (isUnchecked(item) || isExpiring(item))"
      [class.data-list__item--expired]="isExpired(item)">
      <mat-icon
        *ngIf="hasCalories(item) || hasWater(item)"
        mat-list-icon
        fontSet="mdi"
        [fontIcon]="getIcon(item)"
        color="primary">
      </mat-icon>
      <h4 mat-line>
        {{ item.name }}
      </h4>
    </mat-list-option>
  </cdk-virtual-scroll-viewport>
</mat-selection-list>
